.game-wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #000;
}

#game-container {
  width: 100%;
  height: 100%;
  
  canvas {
    display: block;
  }
}